<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @license.id %>
</p>

<p>
  <b>Product Name:</b>
  <%= @license.product.name %>
</p>

<p>
  <b>User Id:</b>
  <%= @license.user.user_id %>
</p>

<p>
  <b>User Name:</b>
  <%= @license.user.user_name %>
</p>

<p>
  <b>Begining date:</b>
  <%= @license.begining_date %>
</p>

<p>
  <b>Ending date:</b>
  <%= @license.ending_date %>
</p>


<%= link_to 'Edit', edit_license_path(@license) %> |
<%= link_to 'Back', licenses_path %>
