<div>
<h1>Login</h1>
  <%= form_tag :controller => 'login' ,:action => 'login' do %>
    <table border="0">
      <tr><td align="right">Id:</td>
          <td><%= text_field_tag 'post[user_id]' %></td></tr>
      <tr><td align="right">password:</td>
          <td><%= password_field_tag 'post[password]' %></td></tr>
      <tr><td colspan="2" align="center">
        <%= submit_tag 'submit' %>
        </td></tr>
  </table>
 <% end %>
</div>

<% if flash[:warning] -%>
<div id="warning">
  <%= flash[:warning] %>
</div>
<% end -%>
