<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @product.id %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Administrator Id:</b>
    <%= @product.administrator_id %>
</p>

<p>
  <b>Administrator Name:</b>
    <%= @product.administrator.user_name %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
